span {
    margin: 20px;
}

input::-webkit-file-upload-button {
    position: absolute;
    padding: 10px 20px;
    background-color: rgb(40, 157, 108);
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    transition: 100ms ease-out;
    cursor: pointer;
}

input::-webkit-file-upload-button:hover {
    background-color: rgb(40, 157, 108);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12)
}